<% title "Product"%>
<div class="main-content">
  <%= render :partial => "product_left_panel", :layout => false %>
  <div class="products-list">
    <div class="list_description">
      <h1>Detalhes <span>do produto</span></h1>
    </div><!-- .list_description END -->
    <div class="main_search article">
      <%= is_new?(@product) %>
      <div class="product_image details">
        <img src="/assets/misc/products/full/1.gif" alt="" />
      </div>
      <div class="product-info">
        <h5><%= @product.name %></h5>
        <p><%= @product.description %></p>
      </div><!-- .product-info END -->
    </div><!-- .main_search.article END -->
    <div class="main_search product-price">
      <%= render :partial => "product_detail_form", :layout => false %>
    </div><!-- .main_serach.product-price END -->
    <%= link_to "Volver al listado [-]", products_path, :class => "go_back" %>
  </div><!-- .main_search END -->
  <ul class="article-list">
    <li>
      <h5>Quiet Vibrators</h5>
      <p>
        This neon pink-tipped bullet vibrator is the RO100mm , an incredible orgasmic clitoral vibrator to follow up the world-famous RO-80mm vibe. 
        Itís 2cms longer than the RO80mm which makes it a bit easier to handle, but the most important difference is the tip. Itís made from soft, 
        supple silicone, so you can apply its powerful vibrations comfortably and firmly wherever you want.
      </p>
    </li>
    <%= link_to "Volver al listado [-]", products_path, :class => "go_back" %>
  </ul><!-- .article-list END -->
</div> <!-- .main-content END -->

<% javascript "siteJavascript", "filterSearch", "msDropDown", "shoppingCart" %>