<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script src="/assets/selectivizr"></script>
    <![endif]-->
    <meta charset="utf-8" />
    <!--[if IE]><![endif]-->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>Pink-n-Blue</title>
    <%= favicon_link_tag "favicon.png" %>
    <%= stylesheet_link_tag "global", "skinned-select" %>
  </head>
  <!--[if lte IE 7 ]> <body class="ie8 ie7"> <![endif]-->
    <!--[if IE 8 ]> <body class="ie8"> <![endif]-->
      <!--[if (gte IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
        <header id="header">
          <div class="wrapper">
            <h1 id="logo">
              <%= link_to image_tag("/assets/misc/header_logo.png"), root_path, :alt => "pink-n-blue logo" %>
            </h1>
            <div class="search-content">
              <form action="/" method="post" class="search_form">
                <div class="search">
                  <input type="text" maxlength="255" placeholder="search...">
                  <button class="submit_search" type="submit">pesquisa</button>
                </div>
              </form>
            </div><!-- .search-content END -->
            <%= render :partial => "shared/menues/site_menu" %>
          </div><!-- .wrapper END -->
        </header>

        <div id="content">
          <% flash.each do |key, value| -%>
            <p class="<%= key %>"><%=h value %></p>
          <% end -%>
          <div class="wrapper">
            <%= render :partial => "shared/my_shopping_cart" %>
            <%= yield %>
          </div>
          <% flash.discard %>
        </div> <!-- #content END -->

        <footer id="footer">
          <%= render :partial => "shared/footers/global_footer" %>
          <%= render :partial => "shared/javascripts/global_javascript" %>
        </footer>

      </body>
    </html>
